* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: green;
    font-size: 20px;
    
}
.header__container-list {
    padding: 10px;
}
p, li, td, tr {
    font-size: 20px;
}
ul > li {
    list-style: none;
}
a:hover {
    opacity: 0.7;
}
.m-20 { margin: 20px; }
.mt-20 { margin-top: 20px; }
.ml-20 { margin-left: 20px; }
.mb-20 { margin-bottom: 20px; }
.mr-20 { margin-rigth: 20px; }
.p-10 { padding: 10px; }
.text-center{
    text-align: center;
}
.header {
    background-color: aquamarine;
}
.menu-item {
    font-size: 20px;
}
.container__footer {
    background-color: white;
}